/* ==========================================================================
   HTML and Body styles
   ========================================================================== */




/* ==========================================================================
   Header
   ========================================================================== */
.header {
  background-color: white;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  width: 100%;
  z-index: 999;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2rem;
  padding: 8px 30px;
  text-decoration: none;
}

/*
Sticks the Header to top of page
*/
.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/*
Hides Sticky Header -100px off top of page
*/
.non-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: -100px;
}

/* =============================================================================
   Navigation
   ========================================================================== */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

nav a {
  color: #696969;
  color: rgb(105,105,105);
  font-weight: 500;
  transition: all 0.3s linear;
}

nav ul li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none !important;
}

nav ul li a:hover,
.header .menu-btn:hover {
  color: rgb(61,197,223);
}

/* Submenu Dropdown */
/* Hide Dropdown for Mobile Nav */
nav ul ul {
  display: none;
}

/* Display Dropdown on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Indents Submenu List Items */
nav ul li ul a {
  padding: 14px 0;
  text-indent: 40px;
}

nav ul li ul a:hover {
  color: white;
  background-color: rgb(61,197,223);
}

nav ul li ul a:active {
  color: white;
  background-color: rgb(61,197,223);
}

/* Highlight Active Navigation Link  */
.active {
  color: rgb(61,197,223)
}

/* menu */

nav ul {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon, the Hamberger!  */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 30px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

/* Max Height of Mobile Dropdown */
.header .menu-btn:checked ~ nav ul {
  max-height: 480px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*
Desktop Media Query - Header Navigation
*/
@media (min-width: 900px) {
  nav li {
    float: left;
  }
  nav ul li a {
    padding: 20px 25px;
  }
  nav ul {
    clear: none;
    float: right;
    max-height: none;
  }

  /* Dropdown Menu */

  /* Hide Dropdowns by Default
   * and giving it a position of absolute */
  .dropdown {
    display: none;
    position: absolute;
  }

  /* Display Dropdowns on Hover */
  nav ul li:hover > ul.dropdown {
    display: inherit;
  }

  /* Change Padding for Dropdown */
  nav ul ul li a {
    padding: 10px 20px;
    text-indent: 0;
  }

  /* Dropdown "a link" hover style */
  nav ul ul li a:hover {
    color: white;
    background-color: rgb(61,197,223);
  }

  /* Dropdown First Tier */
  nav ul ul li {
    min-width: 250px;
    float: none;
    display: list-item;
  }

  /* Hides Mobile Dropdown Button */
  .header .menu-icon {
    display: none;
  }
}



/* =============================================================================
   Footer
   ========================================================================== */
footer {
  background-color: rgb(33,33,33);
}



/* Contact Info
   ========================================================================== */
.contact-info {
  background-color: rgb(247,247,247);
  text-align: center;
}

.info-box {
  padding: 20px 15px;
}
.info-box#address {
  padding-top: 50px;
}
.info-box#website {
  padding-bottom: 50px;
}

/*
Tablet Media Query - .info-box
1. Add padding to top
*/
@media screen and (min-width: 600px) {
  .info-box#phone {
    padding-top: 50px;
  }
}
/*
Tablet Portrait Media Queries - .info-box
1. Change padding of .info-box items
*/
@media screen and (min-width: 900px) {
  .info-box#address {
    padding: 20px 0;
  }
  .info-box#phone {
    padding: 20px 0;
  }
  .info-box#email {
    padding: 20px 0;
  }
  .info-box#website {
    padding: 20px 0;
  }
}


/* Ionicon Font Size */
.ion-ios-location-outline {
  font-size: 2rem;
}
.ion-iphone {
  font-size: 2rem;
}
.ion-ios-email-outline {
  font-size: 2rem;
}
.ion-android-globe {
  font-size: 2rem;
}

.contact-info a {
  color: rgb(34,34,34);
  text-decoration: none;
}
.contact-info a:hover {
  color: rgb(0,86,179);
}


/* Footer Left Side
   ========================================================================== */

.footer-left {
  background-color: rgb(33,33,33);
  padding: 20px 55px;
}
/*
Tablet Media Query - Footer Left
*/
@media screen and (min-width: 600px) {
  .footer-left {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/*
Tablet Portrait Media Query - Footer Left
*/
@media screen and (min-width: 900px) {
  .footer-left {
    padding-left: 23%;
    padding-right: 23%;
  }
}

/*
Desktop Media Query - Footer Left
1. Increase padding-top
*/
@media screen and (min-width: 1200px) {
  .footer-left {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.footer-left p {
  color: rgb(117,117,117);
  margin-bottom: 5px;
  font-size: 1rem;
}
.footer-left h5 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
/*
Desktop Media Query - Footer Left h5
1. Align h5 text to left side
*/
@media screen and (min-width: 1200px) {
  .footer-left h5 {
    text-align: left;
  }
}
.footer-left ul {
  padding-left: 0;
  list-style-type: none;
}
.footer-left li {
  padding: 15px 0;
}
.footer-left a {
  color: white;
  text-decoration: none;
}
.footer-left a:hover {
  color: rgb(0,86,179);
  transition: all 0.3s ease-in-out;
}

.twitter-name {
  color: rgb(61,197,223);
}
.tweet-date {
  color: rgb(117,117,117);
  float: right;
  display: inline-block;
}

/* Footer Center
   ========================================================================== */
.footer-center {
  background-color: rgb(33,33,33);
  padding: 50px 55px;
  text-align: center;
}
/*
Tablet Media Query - Footer Center
*/
@media screen and (min-width: 600px) {
  .footer-center {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/*
Tablet Portrait Media Query - Footer Center
*/
@media screen and (min-width: 900px) {
  .footer-center {
    padding-left: 24%;
    padding-right: 24%;
  }
}


/*
Desktop Media Query - Footer center
1. Adds border to left and righ sides
*/
@media screen and (min-width: 1200px) {
  .footer-center {
    border: 1px solid rgba(255,255,255,0.1);
    border-top: none;
    border-bottom: none;
    padding-left: 55px;
    padding-right: 55px;
  }
}
.footer-center p {
  color: rgb(117,117,117);
  font-size: 1rem;
}
.footer-center h5 {
  color: white;
  text-transform: uppercase;
}
.footer-center ul {
  padding-left: 0;
  list-style-type: none;
}

#footer-logo {
  margin-bottom: 30px;
  display: inline-block !important;
  vertical-align: middle;
}

/*
Social Icon Fonts
*/
ul.social-icons {
  text-decoration: none;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  display: inline-block;
  list-style-type: none;
  border-bottom: 1px dashed rgba(255,255,255,0.4);
}
.social-icons li {
  display: inline-block;
  padding: 0 8px;
}
.fa-circle {
  color: rgb(21,21,21);
  font-size: 2rem;
}

/* facebook icon */
.fa-facebook-f {
  color: rgb(117,117,117);
  font-size: 0.7rem;
}
.fa-facebook-f:hover {
  color: white;
}
.fa-facebook-f:hover {
  background-color: rgb(59,89,152);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

/* twitter icon */
.fa-twitter {
  color: rgb(117,117,117);
  font-size: 0.7rem;
}
.fa-twitter:hover {
  color: white;
}
.fa-twitter:hover {
  background-color: rgb(0,172,237);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

/* linkedin icon */
.fa-linkedin-in {
  color: rgb(117,117,117);
  font-size: 0.7rem;
}
.fa-linkedin-in:hover {
  color: white;
}
.fa-linkedin-in:hover {
  background-color: rgb(0,119,181);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

/* Newsletter Registration */
.newsletter input {
  color: rgb(117,117,117);
  height: 40px;
  padding: 0 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: rgba(255,255,255,0.05);
  border: 2px solid rgba(255,255,255,0.1);
}
.newsletter .btn-3 {
  width: 67%;
  margin-left: 16.5%;
  margin-right: 16.5%;
}

/* Tablet Media Query - .newsletter
1. Places input and button inline
*/
@media screen and (min-width: 600px) {
  .newsletter input{
    width: 70%; /* 1 */
    border-right: none;
  }
  .newsletter .btn-3 {
    width: 30%; /* 1 */
    margin: 0;
  }
}

/* Footer Right
   ========================================================================== */
.footer-right {
  background-color: rgb(33,33,33);
  text-align: center;
}
/*
Desktop Media Query - Footer Right
1. Align text to the right side
*/
@media screen and (min-width: 1200px) {
  .footer-right {
    text-align: right; /* 1 */
  }
}
.footer-right p {
  color: rgb(117,117,117);
  font-size: 1rem;
}
.footer-right h5 {
  color: white;
  text-transform: uppercase;
}

/* patient guide */
.patient-guide {
  padding: 20px 15px;
  padding-top: 50px;
}

/*
Tablet Media Query - .patient-guide {
1. Changes .patient-guide to right side when at 740px
}
*/
@media screen and (min-width: 747px) {
  .patient-guide {
    text-align: left;
  }
}
/*
Tablet Portrait Media Query - .patient-guide
1. Takes away padding-right to prevent word wrap
*/
@media screen and (min-width: 900px) {
  .patient-guide {
    padding-right: 0;
  }
}

/* Desktop Media Query - Patient guide
1. Decrease Padding on bottom
*/
@media screen and (min-width: 1200px) {
  .patient-guide {
    padding-right: 15px;
    padding-bottom: 0;
    text-align: right;
  }
}


.patient-guide ul {
  padding-left: 0;
  list-style-type: none;
}
.patient-guide a {
  color: rgb(117,117,117);
  text-decoration: none;
  font-size: 1rem;
}
.patient-guide a:hover {
  color: white;
  transition: all 0.3s ease-in-out;
}
.patient-guide li:active {
  border: 1px dashed rgba(255,255,255,0.4);
  width: 100%;
}

/* Office Hours */
.office-hours {
  padding: 20px 15px;
}
.office-hours span {
  margin-left: 10px;
}

/*
Tablet Media Query - .office-hours {
1. Changes .office-hours to right side when at 740px
}
*/
@media screen and (min-width: 747px) {
  .office-hours {
    padding-top: 50px;
    text-align: right;
  }
}
/*
Tablet Portrait Media Query - .office-hours
1. Takes away padding-left to prevent word wrap
*/
@media screen and (min-width: 900px) {
  .office-hours {
    padding-left: 0;
  }
}

/*
Desktop Media Query - Office Hours
1. Remove 50px padding-top
*/
@media screen and (min-width: 1200px) {
  .office-hours {
    padding-top: 0;
    padding-left: 15px
  }
}


/* Copyright
   ========================================================================== */
.rights {
  background-color: rgb(27,27,27);
  padding: 20px 0;
  text-align: center;
}
.rights p {
  margin: 0;
  color: rgb(117,117,117);
  font-size: .7rem;
}
/*
Desktop Media Query - .right p
1. Changes font size of copyright
*/
@media screen and (min-width: 1200px) {
  .rights p {
    font-size: 0.8rem;
  }
}



/* ==========================================================================
   Page Specific Styles
   ========================================================================== */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
.container {
  max-width: 720px;
}
}

@media (min-width: 992px) {
.container {
  max-width: 960px;
}
}

@media (min-width: 1200px) {
.container {
  max-width: 1140px;
}
}



/* Home Page
   ========================================================================== */



/* Our Practice Page
   ========================================================================== */
/*
Our Practice Hero
*/
.practice-hero::before {
  content: '';
  position: relative;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;

  width: 100%;
  height: 468px;

  background-image: url(../img/ourpractice/our-practice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  filter: grayscale(80%);
}
.practice-hero {
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;
  text-align: center;
}
.practice-hero h1 {
  color: white;
}
.practice-hero p {
  color: white;
}
.practice-hero .container {
  padding: 100px 0;
}

.blue-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(67,166,216,0.7);
}

/*
Meet the Doctors
*/
.meet-doctors {
  padding: 100px 0;
}
.meet-doctors h2 {
  text-align: center;
}


/* Technology Page
   ========================================================================== */



/* Eye Care Page
   ========================================================================== */



/* Insurance Page
   ========================================================================== */
/*
Insurance VS
*/
.insurance-vs {
  background-color: rgb(247,247,247);
  padding: 50px 0;
}
.insurance-vs h1, h3 {
  text-align: center;
}

/*
Provider Logo
*/
.provider-logo {
  padding: 30px 0;
}

/*
Provider Links
*/
.provider-links {
  padding: 30px 0;
}
.provider-links ul {
  list-style-type: circle;
}
.provider-links a {
  color: rgb(105,105,105);
  text-decoration: none;
}
.provider-links a:hover {
  color: rgb(61,197,223);
}
.provider-links h2, h3 {
  text-align: center;
}
/* vision plans */
.vision-plans {
  max-width: ;
  padding-top: 30px;
}
/* mediacal plans */
.medical-plans {
  max-width: ;
}

/*
Tablet Media Queries - Provider Links/Provider Info
*/
@media screen and (min-width:768px) {
  .provider-links h3 {
    text-align: left;
  }
  .provider-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .vision-plans {
    flex-basis: 50%;
    max-width: 350px;
  }
  .medical-plans {
    flex-basis: 50%;
    max-width: 350px;
    padding-top: 30px;
  }
}
/*
Tablet Portrait Media Queries - Provider Links/Provider Info
*/
@media screen and (min-width:900px) {

}
/*
Desktop Media Queries - Provider Links/Provider Info
*/
@media screen and (min-width:1200px) {

}

/*
Insurance Help
*/
.insurance-help {
  background-color: rgba(67,166,216,0.7);
  padding: 60px 50px 40px;
}
.insurance-help h3 {
  color: white;
}

/*
CareCredit
*/
.carecredit {
  padding: 100px 0;
  text-align: center;
}
.carecredit img {
  padding-bottom: 30px;
}
/* CareCredit Apply */
.carecredit-apply {
  padding-bottom: 100px;
}
/* financing */
.financing {
  text-align: left;
}
/* CareCredit Video */
.carecredit-video {
  padding-top: 30px;
  text-align: center;
}
/* Desktop Media Query - CareCredit Video */
@media screen and (min-width:1200px) {
  .carecredit-video {
    padding-top: 45px;
  }
}
/* Responsive Video Styles */
.carecredit-video video {
  width: 100%;
  max-width: 500px;
  height: auto;
}



/* Contact Page
   ========================================================================== */




/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  background-color: rgb(61,197,223);
  color: white;
  border: 2px solid rgb(61,197,223);
  display: inline-block;
  padding: 12px 30px;
  min-width: 200px;
  margin-top: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background-color: white;
  color: rgb(61,197,223);
}
.btn:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.btn-2 {
  background-color: white;
  color: rgb(61,197,223);
  border: 2px solid rgb(61,197,223);
  display: inline-block;
  padding: 12px 30px;
  min-width: 200px;
  margin-top: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.btn-2:hover {
  background-color: rgb(61,197,223);
  color: white;
}
.btn-2:active {
  border: 1px dotted white;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.btn-3 {
  background: none;
  color: rgb(105,105,105);
  border: 2px solid rgba(255,255,255,0.18);
  display: inline-block;
  padding: 0 20px;
  width: 30%;
  height: 40px;
  float: right;
  cursor: pointer;
}



/* ==========================================================================
   Colors & Filters
   ========================================================================== */
/*
Filters
*/
.grayscale {
  filter: grayscale(100%);
}


/*
Colors
*/
.blue {
  color: rgb(61,197,223);
}
