@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
/*  Use the following CSS rules to specify these families:
    font-family: 'Montserrat', verdana, sans-serif;
*/

@import url("ionicons.css");

/* Setup */
html {
  /* Change default typefaces here */
  font-family: 'Montserrat', verdana, sans-serif;
  font-size: 108%;
  -webkit-font-smoothing: antialiased;
}

body {
  word-wrap: break-word;
}
/* Copy & Lists */
p {
  color: #666;
  color: rgb(102, 102, 102);
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

p + p {
  text-indent: 1.5rem;
  margin-top: 1rem;
}

small {
  font-size: 80%;
}

strong {
  color: #333;
  color : rgb(51, 51, 51);
}
/*
a {
  color: #3DC5DF;
  color: rgb(61, 197, 223);
}
*/
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: 'Montserrat', verdana, sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
  color: #333;
  color: rgb(51, 51, 51);
}
h1 {
  font-size: 4.0625rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.8125rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 2.125rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 0.875rem;
}

/* Tables */
table {
  color: rgb(117,117,117);
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 5px;
  line-height: 33px;
}

table caption {
  text-align: left;
}

legend {
  color: rgb(51,51,51);
  padding-bottom: 1rem;
}
/* FINAL PROJECT REQUIRMENT * Address *
   Added 04/27/2018
   - Styling falls in line with rest of site
*/
address {
  color: #666;
  color: rgb(102, 102, 102);
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}

/* Lighter font weight */
.light {
  font-weight: 300;
}
